<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projeto Final</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/switch.css">
   
</head>

<body>
    <header>
        <nav>
            <div class="header">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/central/classic">INICIO</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/central/about">SOBRE</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/">CLASSICOS</a>
                                </li>
                                <div class="dropdown">
                                    <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="true">
                                        PLATAFORMAS
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/central/ps5/">PS5</a></li>
                                        <li><a class="dropdown-item" href="/central/ps4/">PS4</a></li>
                                        <li><a class="dropdown-item" href="/central/xbox/">XBOX ONE</a></li>
                                        <li><a class="dropdown-item" href="/central/xboxs/">XBOX Serie S/X</a></li>
                                        <li><a class="dropdown-item" href="/central/switch/">SWITCH</a></li>
                                    </ul>
                                </div>
                                <li class="nav-item">
                                    <a class="nav-link" href="/central/register">CADASTRAR-SE</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </nav>
    </header>
    <main>
        <div class="id">
            <div class="cad">
                <div>
                    <img src="/t1.jpg" class="magel" alt="">
                </div>
                <div class="cade">
                    <h5 class="">Jogo Super Smash Bros Ultimate Nintendo Switch</h5> 
                </div>
                <div class="cadeg">
                    <ul class="list-group list-group-flush  meta">
                        KaBuM!
                        <li class="list-group-item btn btn-danger"> <a
                            href="https://www.kabum.com.br/produto/422575/super-smash-bros-ultimate-nintendo-switch?srsltid=ASuE1wQfOrUcAJGbhmVFHJ9GgfJr-CD-VGZywetVtUK9A818VU8bDwAdmtA">
                            R$ 274,55</a></li> 
                            Americanas.com                               
                        <li class="list-group-item btn btn-primary"> <a
                            href="https://www.americanas.com.br/produto/6936015365?opn=YSMESP&offerId=642060a2401db3b86b5bbb51&srsltid=ASuE1wSz9LVRaKaP3_K_IP9zUY_dYJW79phSmygI2YXIhq-E59Z344ul-bg">
                            R$ 399,90</a></li>                                
                    </ul>
                </div>
            </div>
            <div class="cad">
                <div>
                    <img src="/t2.webp" class="mage" alt="">
                </div>
                <div class="cade">
                    <h5 class="">Jogo Mario Strikers: Battle League - Nintendo Switch</h5>
                    
                </div>
                <div class="cadeg">
                    <ul  class="list-group list-group-flush meta">
                        KaBuM!
                        <li class="list-group-item btn btn-danger"> <a
                            href="https://www.kabum.com.br/produto/419581/mario-strikers-para-nintendo-switch?srsltid=ASuE1wQQEgPGWiT6WazGzmRePk0IDHk8hlDeT_xLHbE_Xm5aHemKCsqjIqU">
                            R$ 274,55</a></li>
                            Casas Bahia
                        <li class="list-group-item btn btn-primary"> <a
                            href="https://www.casasbahia.com.br/jogo-mario-strikers-nintendo-switch-hbcpawn6a-1559574857/p/1559574857?utm_medium=Cpc&utm_source=google_freelisting&IdSku=1559574857&idLojista=84947&tipoLojista=3P">
                            R$ 681,69</a></li>
                        <hr>
                    </ul>
                </div>

            </div>
            <div class="cad">
                <div>
                    <img src="/t3.webp" class="mage" alt="">
                </div>
                <div class="cade">
                    <h5 class="">Jogo Switch Pokémon Scarlet Nintendo</h5>

                </div>
                <div class="cadeg">
                    <ul class="list-group list-group-flush  meta">
                        Magazine Luiza
                        <li class="list-group-item btn btn-danger"> <a
                            href="https://www.magazineluiza.com.br/pokemon-scarlet-nintendo-switch/p/236669800/ga/cnsh/?force=8&seller_id=magazineluiza">
                            R$ 274,55</a></li>
                            Casas Bahia
                        <li class="list-group-item btn btn-primary"> <a
                            href="https://www.casasbahia.com.br/jogo-pokemon-scarlet-nintendo-switch-midia-fisica-nacional-1558850968/p/1558850968?utm_medium=Cpc&utm_source=google_freelisting&IdSku=1558850968&idLojista=12231&tipoLojista=3P">
                            R$ 457,84</a></li>
                        <hr>
                    </ul>
                </div>

            </div>
            <div class="cad">
                <div>
                    <img src="/t4.webp" class="mage" alt="">
                </div>
                <div class="cade">
                    <h5 class="">Neo: The World Ends With You Nintendo Switch</h5>
                    
                </div>
                <div class="cadeg">
                    <ul class="list-group list-group-flush  meta">
                        Americanas
                        <li class="list-group-item btn btn-danger"> <a
                            href="americanas.com.br/produto/7094941530/neo-the-world-ends-with-you-nintendo-switch?opn=YSMESP&offerId=63caf5f9401db3b86b571701&srsltid=ASuE1wQfGc5JtE7S2ZamLIWYNCbi-reP5xNgJ-Ok97Fa1szMOFAYzu-ttjw">
                            R$ 429,90</a></li>
                            Magazine Luiza
                        <li class="list-group-item btn btn-primary"> <a
                            href="https://www.magazineluiza.com.br/assassins-creed-valhalla-para-xbox-one-ubisoft-edicao-limitada/p/227338000/ga/jrpg/?force=8&seller_id=magazineluiza">
                            R$ 279,90</a></li>
                        <hr>
                    </ul>
                </div>

            </div>
            <div class="cad">
                <div>
                    <img src="/t5.webp" class="mage" alt="">
                </div>
                <div class="cade">
                    <h5 class="">Jogo Life Is Strange Arcadia Bay Collection - Nintendo Switch</h5> 
                </div>
                <div class="cadeg">
                    <ul class="list-group list-group-flush  meta">
                        Mercado Livre
                        <li class="list-group-item btn btn-danger"> <a
                            href="https://www.mercadolivre.com.br/jogo-life-is-strange-arcadia-bay-collection-nintendo-switch/p/MLB23641023?matt_tool=18956390&utm_source=google_shopping&utm_medium=organic&from=gshop">
                            R$ 175,00</a></li>
                            Carrefour
                        <li class="list-group-item btn btn-primary"> <a
                            href="https://www.carrefour.com.br/life-is-strange--arcadia-bay-collection---nintendo-switch-6986935/p">
                            R$ 249,90</a></li>

                    </ul>
                </div>

            </div>
            <div class="cad">
                <div>
                    <img src="/t6.webp" class="mage" alt="">
                </div>
                <div class="cade">
                    <h5 class="">World War Z - Switch - Nintendo</h5>
                   
                </div>
                <div class="cadeg">
                    <ul class="list-group list-group-flush  meta">
                        
                        Gamer Hut
                        <li class="list-group-item btn btn-danger "> <a
                            href="https://www.bemol.com.br/jogo-xbox-tom-clancy-s-rainbow-six-siege-edicao-deluxe-p1083133?tsid=16">
                            R$ 189,98
                            </a></li>
                            KaBuM!
                        <li class="list-group-item btn btn-primary"> <a
                            href="https://www.kabum.com.br/produto/388046/jogo-world-war-z-nintendo-switch?srsltid=ASuE1wRD8B29dlkmKUT2aDz2qcq9E6n6NEcPYls7BnewBZjueRvREBmkGWM">
                            R$ 318,89</a></li>
                        <hr>
                    </ul>
                </div>

            </div>
        </div>
    </main>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</html>