img{
    width: 1200px;
    margin: 170px;
 }
 body{
     background-color: black; 
 }
 .header{
     display: flex;
     margin: 600px;
     margin-top: 20px;
     margin-bottom: 20px;
     justify-content: space-evenly;
 }
 .container-fluid{
   background-color: red;
 } 
 H2{
     background-image: linear-gradient(red,black);
     color: #fff;
     padding-left: 550px;
 }
 h5{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .navbar-nav{
     margin-top: 5px;
     margin-bottom: 5px;
     display: flex;
     justify-content: space-evenly;
     width: 900px; 
 }  
 main{
     border: 1px solid black;
     height: 700px;
     display: flex;
     align-items: center;
     justify-content: center;
 }