img{
    width: 1200px;
    margin: 170px;
 }
 body{
     background-image: url('lojaimg.avif');
 }
 .header{
     display: flex;
     margin: 550px;
     margin-top: 20px;
     margin-bottom: 20px;
     justify-content: space-evenly; 
 }
 .container-fluid{
   background-color: rgb(236, 126, 126);
 } 
 
 h5{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .navbar-nav{
     margin-top: 5px;
     margin-bottom: 5px;
     display: flex;
     justify-content: space-evenly;
     width: 900px; 
 }  
 main{
     border: 1px solid black;
     height: 700px;
     display: flex;
     align-items: center;
     justify-content: center;
     
 }
 text{
     border: 1px solid black;
 
 
 }
 h1{
    color: #fff;
     text-align: center;
 }
 h3{
     color: #fff;
     text-align: center;
 } 
 p{
     width: 700px;
     color: #fff;
     text-align: center;
 }
 .red{
     color: blue;
     font-weight: 20px;
     font-size: 50px;
 }
 .blue{
     color: crimson;
     border: #fff;
     font-weight: 20px;
     font-size: 50px;
     
 }