<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projeto Final</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/xbox.css">
</head>
<body>
    <header>
        <nav>
            <div class="header">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/central/classic">INICIO</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/central/about">SOBRE</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/">CLASSICOS</a>
                                </li>
                                <div class="dropdown">
                                    <button class="btn btn-outline dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="true">
                                        PLATAFORMAS
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/central/ps5/">PS5</a></li>
                                        <li><a class="dropdown-item" href="/central/ps4/">PS4</a></li>
                                        <li><a class="dropdown-item" href="/central/xbox/">XBOX ONE</a></li>
                                        <li><a class="dropdown-item" href="/central/xboxs/">XBOX Serie S/X</a></li>
                                        <li><a class="dropdown-item" href="/central/switch/">SWITCH</a></li>
                                    </ul>
                                </div>
                                <li class="nav-item">
                                    <a class="nav-link" href="/central/register">CADASTRAR-SE</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </nav>
    </header>
    <main>
        <div class="id">
            <div class="cad">
                <div>
                    <img src="/x1.webp" class="mage" alt="">
                </div>
                <div class="cade">
                    <h5 class="">Jogo Xbox One Battlefield 2042</h5> 
                </div>
                <div class="cadeg">
                    <ul class="list-group list-group-flush  meta">
                        Americanas.com
                        <li class="list-group-item btn btn-success"> <a
                                href="https://www.americanas.com.br/produto/4317520426/jogo-battlefield-2042-xbox-one?opn=YSMESP&offerId=618d1c00d9fd6edeec999dbe&srsltid=ASuE1wSpDJ9pKvhs8veEIbgmk3HVPDKipgweqhet8S1bSa4nTn_8YIl_oyw">
                                R$ 299,90</a></li>
                        Nagem.com.br
                        <li class="list-group-item btn btn-success"> <a
                                href="https://www.nagem.com.br/produto/detalhes/543225/Game+Battlefield+2042+Xbox+One?srsltid=ASuE1wSpvktV-87Er3gon2XAT-5iEuAIv9pGCDYSK3WZh9Rq45OsSgdRdrQ">
                                R$ 47,41</a></li>
                        <hr>
                    </ul>
                </div>
            </div>
            <div class="cad">
                <div>
                    <img src="/x2.webp" class="mage" alt="">
                </div>
                <div class="cade">
                    <h5 class="">Jogo - Lords Of The Fallen - Xbox One</h5>
                    
                </div>
                <div class="cadeg">
                    <ul  class="list-group list-group-flush meta">
                        Xplace Games
                        <li class="list-group-item btn btn-success"> <a
                                href="https://www.xplacegames.com.br/lords-of-the-fallen-usado-xbox-one?utm_source=Site&utm_medium=GoogleMerchant&utm_campaign=GoogleMerchant&srsltid=ASuE1wR4GI8qNTbpf6klEHHb3SWHjX3pU1r5FTMBqnWUpRL5cewb4lCfbzI">
                                R$ 44,99</a></li>
                                Enjoei.com
                        <li class="list-group-item btn btn-success"> <a
                                href="https://www.enjoei.com.br/p/jogo-lords-of-the-fallen-para-xbox-one-71335218?g_campaign=google_shopping">
                                R$ 231,00</a></li>
                        <hr>
                    </ul>
                </div>

            </div>
            <div class="cad">
                <div>
                    <img src="/x3.webp" class="mage" alt="">
                </div>
                <div class="cade">
                    <h5 class="">Grand Theft Auto V Gta 5 Premium Edition - Xbox One</h5>

                </div>
                <div class="cadeg">
                    <ul class="list-group list-group-flush  meta">
                        mercadolivre.com.br
                        <li class="list-group-item btn btn-success"> <a
                                href="https://produto.mercadolivre.com.br/MLB-3696259232-grand-theft-auto-v-premium-edition-xbox-25-digitos-digital-_JM?matt_tool=18956390&utm_source=google_shopping&utm_medium=organic">
                                R$ 89,00</a></li>
                         Pontofrio.com
                        <li class="list-group-item btn btn-success"> <a
                                href="https://www.pontofrio.com.br/grand-theft-auto-v-gta-5-premium-edition-xbox-one-1511613852/p/1511613852?utm_medium=cpc&utm_source=google_freelisting&IdSku=1511613852&idLojista=12231&tipoLojista=3P">
                                R$ 386,58</a></li>
                        <hr>
                    </ul>
                </div>

            </div>
            <div class="cad">
                <div>
                    <img src="/x4.webp" class="mage" alt="">
                </div>
                <div class="cade">
                    <h5 class="">Jogo Mortal Kombat XL Para Xbox One</h5>
                    
                </div>
                <div class="cadeg">
                    <ul class="list-group list-group-flush  meta">
                        Carrefour
                        <li class="list-group-item btn btn-success"> <a
                                href="https://www.carrefour.com.br/jogo-mortal-kombat-xl-para-xbox-one-mp928688091/p">
                                R$ 72,90</a></li>
                        Americanas
                        <li class="list-group-item btn btn-success"> <a
                                href="https://www.americanas.com.br/produto/5520929745/jogo-mortal-kombat-xl-para-xbox-one?opn=YSMESP&offerId=62e439e7adbc5f39b9ccb13d&srsltid=ASuE1wR66k9uWhjRUvO0g38lIcFMHKP1oqlmbOxHpjo7KjkD0A40qYP-hJ0">
                                R$ 82,97</a></li>
                        <hr>
                    </ul>
                </div>

            </div>
            <div class="cad">
                <div>
                    <img src="/x5.webp" class="mage" alt="">
                </div>
                <div class="cade">
                    <h5 class="">Jogo Fallout 4 Goty Game Of The Year - Xbox One</h5>
                    
                </div>
                <div class="cadeg">
                    <ul class="list-group list-group-flush  meta">
                        Fox Geeks
                        <li class="list-group-item btn btn-success"> <a
                                href="https://www.foxgeeks.net/fallout4-goty-xone?sku=RFW2FQ5XY-conta-vip-online">
                                R$ 88,34</a></li>
                                Mercado Livre
                        <li class="list-group-item btn btn-success"> <a
                                href="https://produto.mercadolivre.com.br/MLB-942945193-fallout-4-game-of-the-year-edition-xbox-one-americano-_JM?matt_tool=18956390&utm_source=google_shopping&utm_medium=organic">
                                R$ 287,00</a></li>

                    </ul>
                </div>

            </div>
            <div class="cad">
                <div>
                    <img src="/x6.webp" class="mage" alt="">
                </div>
                <div class="cade">
                    <h5 class="">Need for Speed - Xbox One</h5>
                   
                </div>
                <div class="cadeg">
                    <ul class="list-group list-group-flush  meta">
                        
                        Shopee
                        <li class="list-group-item btn btn-success "> <a
                                href="https://shopee.com.br/product/319028466/20197067262">
                                R$ 29,99
                            </a></li>
                            Americanas.com
                        <li class="list-group-item btn btn-success"> <a
                                href="https://www.americanas.com.br/produto/7362051331/need-for-speed-game-2015-xbox-one?opn=YSMESP&offerId=645c1290579fbc8d91d357c3&srsltid=ASuE1wQA6e269wPsgEGF06dSHL_H-GV1s0Zjr84VqvTdIU4bqoWA35z4qP0">
                                R$ 104,62</a></li>
                        <hr>
                    </ul>
                </div>

            </div>
        </div>
    </main>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</html>