<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projeto Final</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/ps4.css">
</head>

<body>
    <header>
        <nav>
            <div class="header">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/central/classic">INICIO</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/central/about">SOBRE</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/">CLASSICOS</a>
                                </li>
                                <div class="dropdown">
                                    <button class="btn btn-outline dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="true">
                                        PLATAFORMAS
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/central/ps5/">PS5</a></li>
                                        <li><a class="dropdown-item" href="/central/ps4/">PS4</a></li>
                                        <li><a class="dropdown-item" href="/central/xbox/">XBOX ONE</a></li>
                                        <li><a class="dropdown-item" href="/central/xboxs/">XBOX Serie S/X</a></li>
                                        <li><a class="dropdown-item" href="/central/switch/">SWITCH</a></li>
                                    </ul>
                                </div>
                                <li class="nav-item">
                                    <a class="nav-link" href="/central/register">CADASTRAR-SE</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </nav>
    </header>
    <main>
        <div class="id">
            <div class="cad">
                <div>
                    <img src="/p1.webp" class="mage" alt="">
                </div>
                <div class="cade">
                    <h5 class="">Jogo Call Of Duty Black Ops Cold War - PS4 Mídia Física Sony</h5>
                    
                </div>
                <div class="cadeg">
                    <ul class="list-group list-group-flush meta">
                        Cloud Games
                        <li class="list-group-item btn btn-primary"> <a
                                href="https://www.cloudgames.com.br/callofduty-black-ops-cold-war-ps4">R$
                                R$ 33,85</a></li>
                        SoGamesUsados
                        <li class="list-group-item btn btn-primary"> <a
                                href="https://www.sogamesusados.com.br/produto/call-of-duty-black-ops-cold-war-ps4-novo.html?utm_source=Site&utm_medium=GoogleMerchant&utm_campaign=GoogleMerchant">R$
                                R$ 406,76</a></li>
                        <hr>
                    </ul>
                </div>
            </div>
            <div class="cad">
                <div>
                    <img src="/p2.webp" class="mage" alt="">
                </div>
                <div class="cade">
                    <h5 class="">Jogo Resident Evil Village - Gold Edition PS4</h5>
                    
                </div>
                <div class="cadeg">
                    <ul class="list-group list-group-flush meta">
                        Azilado Em Games
                        <li class="list-group-item btn btn-primary"> <a
                                href="https://www.aziladoemgames.com.br/jogos/playstation-4/resident-evil-village-ps4">R$
                                R$ 116,10</a></li>
                        Amazon.com.br - Retail
                        <li class="list-group-item btn btn-primary"> <a
                                href="https://www.amazon.com.br/Resident-Evil-Village-Gold-PlayStation/dp/B0BLVZHZK5?source=ps-sl-shoppingads-lpcontext&ref_=fplfs&psc=1&smid=A1ZZFT5FULY4LN">R$
                                R$ 249,90</a></li>
                        <hr>
                    </ul>
                </div>

            </div>
            <div class="cad">
                <div>
                    <img src="/p3.webp" class="mage" alt="">
                </div>
                <div class="cade">
                    <h5 class="">PS4 - Dark Souls III The Fire Fades Edition</h5>

                </div>
                <div class="cadeg">
                    <ul class="list-group list-group-flush meta">
                        KaBuM
                        <li class="list-group-item btn btn-primary"> <a
                                href="https://www.kabum.com.br/produto/134887/jogo-dark-souls-iii-the-fire-fades-edition-ps4?srsltid=ASuE1wRYeHeQcfEjzKjsPnYw14OFR8EKNAyDMfa1cxzGh4Z8cn1vWVszDzY">R$
                                R$ 120,53</a></li>
                                Pontofrio.com
                        <li class="list-group-item btn btn-primary"> <a
                                href="https://www.pontofrio.com.br/jogo-dark-souls-iii-the-fire-fades-ps4-1559909190/p/1559909190?utm_medium=cpc&utm_source=google_freelisting&IdSku=1559909190&idLojista=68943&tipoLojista=3P">R$
                                R$ 197,19</a></li>
                        <hr>
                    </ul>
                </div>

            </div>
            <div class="cad">
                <div>
                    <img src="/p4.webp" class="mage" alt="">
                </div>
                <div class="cade">
                    <h5 class="">Jogo Watch Dogs PS4</h5>
                    
                </div>
                <div class="cadeg">
                    <ul class="list-group list-group-flush meta">
                        Nova Era Games
                        <li class="list-group-item btn btn-primary"> <a
                                href="https://www.lojanovaera.com/produto/watch-dogs-ps4-midia-fisica-usado.html?utm_source=Site&utm_medium=GoogleMerchant&utm_campaign=GoogleMerchant&srsltid=ASuE1wTza27BVYSf6ik2JJuqxnxGys4KIYSnWW2UC9qJE9gosF94F60XlXM">R$
                                R$ 39,90</a></li>
                        Fantasy Games
                        <li class="list-group-item btn btn-primary"> <a
                                href="https://www.fantasygamesonline.com.br/produto/252942.html?utm_source=Site&utm_medium=GoogleMerchant&utm_campaign=GoogleMerchant">R$
                                R$ 159,99</a></li>
                        <hr>
                    </ul>
                </div>

            </div>
            <div class="cad">
                <div>
                    <img src="/p5.webp" class="mage" alt="">
                </div>
                <div class="cade">
                    <h5 class="">Jogo Far Cry 3 Classic Edition PS4</h5>
                    
                </div>
                <div class="cadeg"> 
                    <ul class="list-group list-group-flush meta">
                        Americanas
                        <li class="list-group-item btn btn-primary"> <a
                                href="https://www.americanas.com.br/produto/3960972481/jogo-far-cry-3-classic-edition-ps4?opn=YSMESP&offerId=614c6bb409c351890d8ce6f9&srsltid=ASuE1wR9rNq6I1yPq3AzS58XX6k9otf6KiXe6rpo-2amkJsuz9-Aryuh8q0">R$
                                R$ 92,74</a></li>

                    </ul>
                </div>

            </div>
            <div class="cad">
                <div>
                    <img src="/p6.webp" class="mage" alt="">
                </div>
                <div class="cade">
                    <h5 class="">Jogo PS4 Mortal Kombat X</h5>
                   
                </div>
                <div class="cadeg">
                    <ul class="list-group list-group-flush meta">
                        
                        Arena Games
                        <li class="list-group-item btn btn-primary"> <a
                                href="https://lojaarenagames.com.br/mortal-kombat-x-playstation-hits-ps4-novo/?srsltid=ASuE1wQ7bXukFwp17-6vPCHkJNPjAfxFB303jaKEI9ebx1j84dip_yJrNwM">R$
                                R$ 64,91
                            </a></li>
                            Netshoes
                        <li class="list-group-item btn btn-primary"> <a
                                href="https://www.netshoes.com.br/mortal-kombat-x-ps4-incolor-623-9605-460?campaign=gglepqpla&srsltid=ASuE1wTddQuXT4VxcMUpJQ1odh3vQDqJd0Cn_m8qk_H6ZByA4sods9LAPjA">R$
                                R$ 105,99</a></li>
                        <hr>
                    </ul>
                </div>

            </div>
        </div>
    </main>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</html>