<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projeto Final</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/xbox.css">
</head>

<body>
    <header>
        <nav>
            <div class="header">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/central/classic">INICIO</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/central/about">SOBRE</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/">CLASSICOS</a>
                                </li>
                                <div class="dropdown">
                                    <button class="btn btn-outline dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="true">
                                        PLATAFORMAS
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/central/ps5/">PS5</a></li>
                                        <li><a class="dropdown-item" href="/central/ps4/">PS4</a></li>
                                        <li><a class="dropdown-item" href="/central/xbox/">XBOX ONE</a></li>
                                        <li><a class="dropdown-item" href="/central/xboxs/">XBOX Serie S/X</a></li>
                                        <li><a class="dropdown-item" href="/central/switch/">SWITCH</a></li>
                                    </ul>
                                </div>
                                <li class="nav-item">
                                    <a class="nav-link" href="/central/register">CADASTRAR-SE</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </nav>
    </header>
    <main>
        <div class="id">
            <div class="cad">
                <div>
                    <img src="/s1.webp" class="mage" alt="">
                </div>
                <div class="cade">
                    <h5 class="">Jogo NFS Unbound - Xbox Series X</h5> 
                </div>
                <div class="cadeg">
                    <ul class="list-group list-group-flush  meta">
                        Casas Bahia
                        <li class="list-group-item btn btn-success"> <a
                            href="https://www.casasbahia.com.br/jogo-nfs-unbound-xbox-series-x-55056230/p/55056230?utm_medium=Cpc&utm_source=google_freelisting&IdSku=55056230&idLojista=10037&tipoLojista=1P">
                            R$ 296,91</a></li>        
                    </ul>
                </div>
            </div>
            <div class="cad">
                <div>
                    <img src="/s2.webp" class="mage" alt="">
                </div>
                <div class="cade">
                    <h5 class="">Jogo FIFA 22 - Xbox Series X</h5>
                    
                </div>
                <div class="cadeg">
                    <ul  class="list-group list-group-flush meta">
                        MeuGameUsado
                        <li class="list-group-item btn btn-success"> <a
                            href="https://www.meugameusado.com.br/produto/jogo-fifa-22-xbox-series-x.html?utm_source=Site&utm_medium=GoogleMerchant&utm_campaign=GoogleMerchant&srsltid=ASuE1wRsZgGAQ1FzJZa2gWQUxUVwHEmG-LV2y8SLrGzpHXRV4y38KzGX_hI">
                            R$ 63,00</a></li>
                            Webfones
                        <li class="list-group-item btn btn-successr"> <a
                            href="webfones.com.br/jogo--fifa-22---xbox-series-x/p?idsku=25960">
                            R$ 301,50</a></li>
                        <hr>
                    </ul>
                </div>

            </div>
            <div class="cad">
                <div>
                    <img src="/s3.webp" class="mage" alt="">
                </div>
                <div class="cade">
                    <h5 class="">Jogo One Piece Odyssey - Xbox Series X</h5>

                </div>
                <div class="cadeg">
                    <ul class="list-group list-group-flush  meta">
                        mercadolivre.com.br
                        <li class="list-group-item btn btn-success"> <a
                            href="https://www.mercadolivre.com.br/one-piece-odyssey-standard-edition-bandai-namco-xbox-series-xs-fisico/p/MLB21250570?matt_tool=18956390&utm_source=google_shopping&utm_medium=organic&from=gshop">
                            R$ 279,00</a></li>
                         Americanas
                        <li class="list-group-item btn btn-success"> <a
                            href="https://www.americanas.com.br/produto/7301967821?opn=YSMESP&offerId=64356d66579fbc8d91301a71&srsltid=ASuE1wTmm4j5dKVQh3J6FeisLDId5GTMaH4h7tabqabxFm3GdU_iTdDeoUA">
                            R$ 349,90</a></li>
                        <hr>
                    </ul>
                </div>

            </div>
            <div class="cad">
                <div>
                    <img src="/s4.webp" class="mage" alt="">
                </div>
                <div class="cade">
                    <h5 class="">Assassin's Creed Valhalla - Xbox One</h5>
                    
                </div>
                <div class="cadeg">
                    <ul class="list-group list-group-flush  meta">
                        Caverna Games
                        <li class="list-group-item btn btn-success"> <a
                            href="https://www.cavernagames.com.br/assassin-s-creed-valhalla-xbox-one-series-sx-2022-10-20-01-42-22?utm_source=Site&utm_medium=GoogleMerchant&utm_campaign=GoogleMerchant&sku=L7C4Q2ZYA-midia-parental">
                            R$ 9,90</a></li>
                            Magazine Luiza
                        <li class="list-group-item btn btn-success"> <a
                            href="https://www.magazineluiza.com.br/assassins-creed-valhalla-para-xbox-one-ubisoft-edicao-limitada/p/227338000/ga/jrpg/?force=8&seller_id=magazineluiza">
                            R$ 279,90</a></li>
                        <hr>
                    </ul>
                </div>

            </div>
            <div class="cad">
                <div>
                    <img src="/s5.webp" class="mage" alt="">
                </div>
                <div class="cade">
                    <h5 class="">Jogo Xbox One S Riders Republic</h5> 
                </div>
                <div class="cadeg">
                    <ul class="list-group list-group-flush  meta">
                        Mercado Livre
                        <li class="list-group-item btn btn-success"> <a
                            href="https://www.mercadolivre.com.br/riders-republic-standard-edition-ubisoft-xbox-one-fisico/p/MLB18609260?matt_tool=18956390&utm_source=google_shopping&utm_medium=organic&from=gshop">
                            R$ 74,89</a></li>
                            Familia Gamer
                        <li class="list-group-item btn btn-success"> <a
                            href="https://www.familiagamer.com.br/produto/jogo-riders-republic-xone.html?srsltid=ASuE1wRe5TdVTG4dBiitgZ45yy-9oMCgH34zZSKvR4IesFTutznpXtDOYmc">
                            R$ 230,91</a></li>

                    </ul>
                </div>

            </div>
            <div class="cad">
                <div>
                    <img src="/s6.webp" class="mage" alt="">
                </div>
                <div class="cade">
                    <h5 class="">Jogo Xbox Tom Clancy's Rainbow Six Siege - Edição Deluxe</h5>
                   
                </div>
                <div class="cadeg">
                    <ul class="list-group list-group-flush  meta">
                        
                        Bemol
                        <li class="list-group-item btn btn-success "> <a
                            href="https://www.bemol.com.br/jogo-xbox-tom-clancy-s-rainbow-six-siege-edicao-deluxe-p1083133?tsid=16">
                            R$ 44,00
                            </a></li>
                            Oi Place
                        <li class="list-group-item btn btn-success"> <a
                            href="https://www.oiplace.com.br/tom-clancys-rainbow-six-siege---edicao-deluxe---xbox-series-x/dbd35ae4-7ef7-41bc-9801-c76aad3925a6.html?srsltid=ASuE1wRj70ZZD_oKVH1LvMM3U8g25WxQNtEH6-2MTriD03ZRXo1KbGZLqGE">
                            R$ 199,90</a></li>
                        <hr>
                    </ul>
                </div>

            </div>
        </div>
    </main>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</html>